header {
  padding-bottom: 2.5rem;
}

.rtc-header--nav {
  display: flex;
  gap: 1.5rem;
  height: 5rem;
  width: 100%;
}

@media screen and (min-width: 350px) {
  header {
    padding-bottom: 3rem;
  }

  .rtc-header--nav {
    height: 6rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-bottom: 1.5rem;
  }
}
