@import '../../../style.css';

.rtc-header--nav-logo-a {
  display: flex;
  gap: var(--gap-header-logo-a);
  height: var(--height-header-logo);
}

.rtc-header--nav-logo-svg {
  align-self: center;
  fill: var(--tertiary-light-color);
}

.rtc-header--nav-logo-h1 {
  display: none;
  align-self: center;
  color: var(--tertiary-color);
  font-size: var(--font-size-header-logo-s);
  letter-spacing: var(--letter-spacing-header-logo);
}

@media screen and (min-width: 320px) {
  .rtc-header--nav-logo-h1 {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-logo-h1 {
    font-size: var(--font-size-header-logo-l);
  }
}
