.rtc-header--nav-logo-a {
  display: flex;
  gap: 0.25rem;
  height: 100%;
}

.rtc-header--nav-logo-svg {
  align-self: center;
  fill: #e60023;
}

.rtc-header--nav-logo-h1 {
  display: none;
  align-self: center;
  color: #cc0000;
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
}

@media screen and (min-width: 320px) {
  .rtc-header--nav-logo-h1 {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-logo-h1 {
    font-size: 1.4rem;
  }
}
