.rtc-header--nav-logo-a {
  display: flex;
  gap: 0.4rem;
  height: 100%;
}

.rtc-header--nav-logo-svg {
  align-self: center;
}

.rtc-header--nav-logo-h1 {
  align-self: center;
  color: #cc0000;
  font-size: 1.25rem;
}
