.rtc-header--nav-menu-desktop_search {
  display: none;
  width: 100%;
}

.rtc-header--nav-menu-desktop_search-form-input {
  background-color: rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 1.5rem;
  color: #191919;
  font-size: 0.9rem;
  height: 3rem;
  padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;
}

.rtc-header--nav-menu-desktop_search-form-input_svg {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 19.4rem;
  top: 2.95rem;
  transform: translateY(-50%);
  width: 1.25rem;
}

@media screen and (min-width: 768px) {
  .rtc-header--nav-menu-desktop_search {
    display: flex;
    padding: 0 1.5rem;
  }

  .rtc-header--nav-menu-desktop_search > search,
  .rtc-header--nav-menu-desktop_search-form-input {
    width: 100%;
  }

  .rtc-header--nav-menu-desktop_search-form-input_svg {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-desktop_search-form-input {
    font-size: 1rem;
  }

  .rtc-header--nav-menu-desktop_search-form-input_svg {
    left: 20.75rem;
    top: 3rem;
  }
}
