@import '../../../../style.css';

.rtc-header--nav-menu-desktop_search {
  display: none;
  width: var(--width-header-search);
}

.rtc-header--nav-menu-desktop_search-form-input {
  background-color: var(--secondary-input-background);
  border: none;
  border-radius: var(--border-radius-header-search);
  color: var(--secondary-color);
  font-size: var(--font-size-header-search-s);
  height: var(--height-header-search);
  outline: none;
  padding: var(--padding-header-search-input);
}

.rtc-header--nav-menu-desktop_search-form-input_svg {
  display: none;
  position: absolute;
  cursor: pointer;
  left: var(--left-header-search-m);
  top: var(--top-header-search-m);
  transform: translateY(-50%);
  width: var(--width-header-search-svg);
}

@media screen and (min-width: 768px) {
  .rtc-header--nav-menu-desktop_search {
    display: flex;
    padding: var(--padding-header-search);
  }

  .rtc-header--nav-menu-desktop_search > search,
  .rtc-header--nav-menu-desktop_search-form-input {
    width: var(--width-header-search);
  }

  .rtc-header--nav-menu-desktop_search-form-input_svg {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-desktop_search-form-input {
    font-size: var(--font-size-header-search-l);
  }

  .rtc-header--nav-menu-desktop_search-form-input_svg {
    left: var(--left-header-search-l);
    top: var(--top-header-search-l);
  }
}
