.rtc-header--nav-menu-enterprise_links {
  display: none;
}

@media screen and (min-width: 525px) {
  .rtc-header--nav-menu-enterprise_user_lists {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .rtc-header--nav-menu-enterprise_links {
    display: flex;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-enterprise_links {
    font-size: 1.1rem;
    gap: 2rem;
  }
}
