.rtc-header--nav-menu-search-form {
  position: relative;
  width: 100%;
}

.rtc-header--nav-menu-search-form-input {
  background-color: rgba(0, 0, 0, 0.13);
  border: none;
  border-radius: 1.5rem;
  color: #191919;
  height: 3rem;
  outline: none;
  padding: 0.9375rem 0.9375rem 0.9375rem 2.5rem;
  width: 100%;
}

.rtc-header--nav-menu-search-form-input_svg {
  position: absolute;
  cursor: pointer;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
}

@media screen and (min-width: 768px) {
  .rtc-header--nav-menu-search-form {
    display: none;
  }
}
