@import '../../../style.css';

.rtc-header--nav-menu-search-form {
  position: relative;
  width: var(--width-header-search);
}

.rtc-header--nav-menu-search-form-input {
  background-color: var(--secondary-input-background);
  border: none;
  border-radius: var(--border-radius-header-search);
  color: var(--secondary-color);
  height: var(--height-header-search);
  outline: none;
  padding: var(--padding-header-search-input);
  width: var(--width-header-search);
}

.rtc-header--nav-menu-search-form-input_svg {
  position: absolute;
  cursor: pointer;
  left: var(--left-header-search-s);
  top: var(--top-header-search-s);
  transform: translateY(-50%);
  width: var(--width-header-search-svg);
}

@media screen and (min-width: 768px) {
  .rtc-header--nav-menu-search-form {
    display: none;
  }
}
