@import '../../style.css';

main {
  padding-bottom: var(--padding-main);
}

.rtc-main--no_images-h3 {
  display: flex;
  color: var(--tertiary-color);
  font-size: var(--font-size-main);
  justify-content: center;
  padding: var(--padding-main-h3);
}

.rtc-main--images_list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-main-images-s);
  justify-content: center;
}

.rtc-main--images-item-img {
  border-radius: var(--border-radius-main-img);
  object-fit: cover;
  height: var(--height-main-img-xxs);
  width: var(--width-main-img-xs);
}

@media screen and (min-width: 300px) {
  .rtc-main--images-item-img {
    height: var(--height-main-img-xs);
    width: var(--width-main-img-s);
  }
}

@media screen and (min-width: 350px) {
  .rtc-main--images_list {
    gap: var(--gap-main-images-m);
  }

  .rtc-main--images-item-img {
    width: var(--width-main-img-m);
  }
}

@media screen and (min-width: 400px) {
  .rtc-main--images_list {
    display: grid;
    grid-gap: var(--gap-main-grid-m);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'item-1 item-1'
      'item-2 item-3'
      'item-4 item-5'
      'item-6 item-6'
      'item-7 item-8'
      'item-9 item-9'
      'item-10 item-10';
  }

  .rtc-main--images-item {
    width: var(--width-main-img-l);
  }

  .rtc-main--images-item-img {
    height: var(--height-main-img-s);
    width: inherit;
  }

  .item-1 {
    grid-area: item-1;
  }

  .item-2 {
    grid-area: item-2;
  }

  .item-3 {
    grid-area: item-3;
  }

  .item-4 {
    grid-area: item-4;
  }

  .item-5 {
    grid-area: item-5;
  }

  .item-6 {
    grid-area: item-6;
  }

  .item-7 {
    grid-area: item-7;
  }

  .item-8 {
    grid-area: item-8;
  }

  .item-9 {
    grid-area: item-9;
  }

  .item-10 {
    grid-area: item-10;
  }
}

@media screen and (min-width: 540px) {
  .rtc-main--images-item-img {
    height: var(--height-main-img-m);
  }
}

@media screen and (min-width: 700px) {
  .rtc-main--images_list {
    grid-gap: var(--gap-main-grid-l);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'item-1 item-1 item-1'
      'item-2 item-2 item-3'
      'item-4 item-5 item-5'
      'item-6 item-6 item-6'
      'item-7 item-8 item-9'
      'item-10 item-10 item-10';
  }
}

@media screen and (min-width: 768px) {
  .rtc-main--images-item-img {
    height: var(--height-main-img-l);
  }
}

@media screen and (min-width: 900px) {
  .rtc-main--images-item-img {
    height: var(--height-main-img-xl);
  }
}

@media screen and (min-width: 950px) {
  main {
    padding-bottom: 0;
  }
}
