.rtc-header--nav-menu {
  display: flex;
  align-items: center;
  width: inherit;
}

.rtc-header--nav-menu a:hover {
  text-decoration: underline;
}

.rtc-header--nav-menu_list {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
