@import '../../style.css';

.rtc-footer--list {
  display: flex;
  flex-direction: column;
  padding: var(--padding-footer-list);
}

.rtc-footer--list a {
  font-size: var(--font-size-footer-s);
}

.rtc-footer--list a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 400px) {
  .rtc-footer--list {
    align-items: center;
    padding-left: 0;
  }
}

@media screen and (min-width: 880px) {
  .rtc-footer--list {
    justify-content: center;
  }
}

@media screen and (min-width: 950px) {
  .rtc-footer--list {
    display: flex;
    flex-direction: row;
    gap: var(--gap-footer-l);
    padding-bottom: 0;
  }

  .rtc-footer--list a {
    font-size: var(--font-size-footer-l);
  }
}

@media screen and (min-width: 1100px) {
  .rtc-footer--list {
    gap: var(--gap-footer-xl);
  }
}
