.rtc-header--nav-menu-user {
  height: 2rem;
  width: 2rem;
}

.rtc-header--nav-menu-user-image {
  background-color: #242424;
  border-radius: 50%;
  height: inherit;
  width: inherit;
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-user {
    height: 2.5rem;
    width: 2.5rem;
  }
}
