@import '../../../../style.css';

.rtc-header--nav-menu-user {
  height: var(--height-header-user-s);
  width: var(--width-header-user-s);
}

.rtc-header--nav-menu-user-image {
  background-color: var(--secondary-light-color);
  border-radius: var(--border-radius-header-user-img);
  height: inherit;
  width: inherit;
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-user {
    height: var(--height-header-user-l);
    width: var(--width-header-user-l);
  }
}
