@import '../../../../style.css';

.rtc-header--nav-menu-trending {
  display: flex;
  align-items: center;
}

.rtc-header--nav-menu-trending_links {
  display: flex;
  gap: var(--gap-header-today);
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-trending_links {
    font-size: var(--font-size-header-today);
  }
}
