.rtc-header--nav-menu-trending {
  display: flex;
  align-items: center;
}

.rtc-header--nav-menu-trending_links {
  display: flex;
  gap: 1.5rem;
}

@media screen and (min-width: 900px) {
  .rtc-header--nav-menu-trending_links {
    font-size: 1.1rem;
  }
}
